*{
    padding:0;
}
a{
    color: #9966CC
}
a:hover{
    color:black
}

/* 顶部的样式 */
.top{
    height:80px;
    width:100%;
    padding:5px;
    margin-bottom:8px;
    background: #d6e9ca;
    z-index:999;
    position:fixed;
    top:0;
    left:10px;
    border-bottom:5px solid #9966CC
}
.top h2{
    color: #9966CC;
    display:inline-block
}
.search{
    padding-top:10px;
}
.search input{
    border:2px solid #CCCC99;
    height:70%
}
/* 搜索邮件的按钮 */
.searchBt{
    background: #CCCC99;
    border-radius: 0;
    height:97%
}
.content{
    margin-left:15px;
    border-radius: 10px
}
/* 左栏菜单 */
.leftMenu{
    border-radius: 10px;
    border-left:5px solid #9966CC;
    border-right:5px solid #9966CC;
    border-bottom:5px solid #9966CC;
    padding-top: 20px;
    padding-bottom: 18%;
    padding-left:6px;
    padding-right: 6px;

    width:20%;
    height:260px;
    float:left;
    position:fixed;
    left:10px;
}
.leftMenu ul{
    list-style-type: none;
    color:black
}
.leftMenu li{
    padding:2px 8px;
}
.leftMenu li:hover{
    background-color: #CCCC99
}
/* 主内容显示页 */
.center{
    /*float:right;*/
    padding:20px;
}
.foot{
    width:100%;
    margin-left:30%;
    font-size:13px;
}
 /*清除浮动代码*/
.clearfloat:after{
     display:block;
     clear:both;
     content:"";
     visibility:hidden;
     height:0}
.clearfloat{zoom:1}